<%= image_tag(@presenter.user.image) %>
<h1> <%= @presenter.user.name %> </h1>
<h2> <%=  @presenter.user.username %>  </h2>

<div>
  <ul>
    <% @presenter.followers.each do |follower| %></h3>
      <%= image_tag follower.avatar_url %>
      <li><%= follower.login %></li>
    <% end %>
  </ul>
</div>
