<%= image_tag(@presenter.user.image, height: '200', width: '200') %>
<h1> <%= @presenter.user.name %> </h1>
<h2> <%=  @presenter.user.username %>  </h2>
<h3> Starred Repos: <%= @presenter.starred.count %></h3>

  <ul class="list-group">
    <h3 class="page-header">Organizations</h3>
    <% if @presenter.organizations.first == nil %>
          <li class="list-group-item"> You do not belong to any organizations.</h4>
    <% elsif %>
          <% @presenter.organizations.each do |organization| %></h3>
            <%= image_tag organization.avatar_url %>
            <li class="list-group-item"><%= organization.name %></li>
          <% end %>
    <% end %>
  </ul>

<div>
    <h3 class="page-header"> Followers </h3>
    <table class="table">
      <tr>
        <th></th>
        <th> Username </th>
      </tr>
        <% @presenter.followers.each do |follower| %>
      <tr>
          <td><%= image_tag follower.avatar_url, height: '200', width: '200' %></td>
          <td><%= follower.login %></td>
      </tr>
        <% end %>
    </table>
</div>

<div>
    <h3 class="page-header"> Following </h3>
    <table class="table">
      <tr>
        <th></th>
        <th> Username </th>
      </tr>
        <% @presenter.following.each do |follower| %>
      <tr>
          <td><%= image_tag follower.avatar_url, height: '200', width: '200' %></td>
          <td><%= follower.login %></td>
      </tr>
        <% end %>
    </table>
</div>

<div>
  <ul class="list-group">
  <h3 class="page-header">My Repositories</h3>
    <% @presenter.repos.each do |repo| %></h3>
      <li class="list-group-item"><%= repo.name %></li>
    <% end %>
  </ul>
</div>